*{
  background-color: beige;
  font-family: 'Ephesis';
  font-weight: bolder;
  font-size: large;
}
#game{
  width: 500px;
  margin: auto;
  justify-content: center;
}
h1{
  text-align: center;
  font-size: xx-large;
}
.grid-container{
      width: 400px;
      margin: auto;
      margin-bottom: 10px;
      display: grid;
      background-color: #5e041b;
      grid-template-columns: repeat(9,1fr);
      grid-template-rows:repeat(9,1fr);
      row-gap: 1px;
      column-gap: 1;
      
  }
  .items{
    display: flex;
    background-color: rgba(0, 255, 208, 0.891);
    height: 40px;
    width: 40px;
    margin: 2px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    cursor: pointer;
  }
  .clicked{
    background-color: burlywood;
    cursor: none;
  }
  .items-visible{
      background-color: red;
      cursor: none;
    }
    h3{
      text-align: center;
    }
    button{
     left: 45%;
     width: 5rem;
     height: 3rem;
     position: relative;
     color: antiquewhite;
     background-color: rgb(165, 42, 165);
    }
    @media screen and ( max-width: 860px){
      .grid-container{
          padding-top: 10px;
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-content: flex-start;
          width: 300px;
          height: 300px;
      }
      .items{
        border: 1px solid black;
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 0px;
        vertical-align: middle;
        font-size: small;
    }
  }